@import models.products.Category
@import models.products.Product
@import models.users.User
@import models._;
@(env: play.api.Environment, messages: List[ForumMessage], user: User)


<!-- Pass page title and user on to main -->
@productAdmin.main("Forum Page", user) {



	<div class="row">

        <div class="col-md-3">
        @if(flash.containsKey("success")) {
			  <div class="alert alert-success">
			      @flash.get("success")
			  </div>
		} 
	 @if(flash.containsKey("warning")) {
			  <div class="alert alert-warning">
			      @flash.get("warning")
			  </div>
		} 


        </div>
	<div class="col-md-6">


 <div class="panel panel-success">
      <div class="panel-heading"><h4>Forum <span class="glyphicon glyphicon-envelope"></span> </h4></div>
	 <div class="panel-body">
     

@for(m <- messages) {

 @if(m.getUser.getRole().equalsIgnoreCase("customer")) {
<!-- Left-aligned media object -->
  <div class="media">
    <div class="media-left">
@if(env.resource("public/images/userIcons/" + m.getUser.getEmail + ".png").isDefined) {
      <img src="/assets/images/userIcons/@(m.getUser.getEmail).png" class="media-object" style="width:60px">
}      else {
	<img src="/assets/images/userIcons/noImage.png" style="width:60px"/>
				}
      
      <p>Customer</p>
    </div>
    <div class="media-body">
      <h4 class="media-heading">@m.getUser.getName @m.getUser.getSurname</h4>
	<h5>Subject: @m.getSubject</h5>
      <p>@m.getMessageContent</p>

      <p>@m.getMessageDate.format("dd MMM yy")</p>
     <p><a href="@routes.AdminHomeCtrl.deleteMessage(m.getId)" class="btn-xs btn-danger"
						onclick="return confirmDel();">
	<span class="glyphicon glyphicon-trash"></span></a></p>
    </div>
<p><a href="@routes.AdminHomeCtrl.like(m.getId())"><span class="glyphicon glyphicon-thumbs-up"></span></a> @m.getLikes() Likes
      <a href="@routes.AdminHomeCtrl.dislike(m.getId())"><span class="glyphicon glyphicon-thumbs-down"></span></a> @m.getDislikes() Dislikes
      </p>
  </div>
  <hr>
  } @if(m.getUser.getRole().equalsIgnoreCase("admin")){
  <!-- Right-aligned media object -->
  <div class="media">
    <div class="media-body">
     <h4 class="media-heading">@m.getUser.getName @m.getUser.getSurname</h4>
	<h5>Subject: @m.getSubject</h5>
      <p>@m.getMessageContent</p>
        <p>@m.getMessageDate.format("dd MMM yy")</p>
        <!-- Delete product button -->
<p><a href="@routes.AdminHomeCtrl.deleteMessage(m.getId)" class="btn-xs btn-danger"
						onclick="return confirmDel();">
	<span class="glyphicon glyphicon-trash"></span></a></p>
    </div>
    <div class="media-right">
     @if(env.resource("public/images/userIcons/" + m.getUser.getEmail + ".png").isDefined) {
      <img src="/assets/images/userIcons/@(m.getUser.getEmail).png" class="media-object" style="width:60px">
}      else {
	<img src="/assets/images/userIcons/noImage.png" style="width:60px"/>
				}
      
      <p>Administrator</p>
    </div>
<p><a href="@routes.AdminHomeCtrl.like(m.getId())"><span class="glyphicon glyphicon-thumbs-up"></span></a> @m.getLikes() Likes
      <a href="@routes.AdminHomeCtrl.dislike(m.getId())"><span class="glyphicon glyphicon-thumbs-down"></span></a> @m.getDislikes() Dislikes
      </p>
  </div>
  <hr>
}

}

   <a href="@routes.AdminHomeCtrl.addForumMessage()"
				<button class="btn btn-primary">Leave Message</button>
			</a>


	</div>
</div>
    </div>
        <div class="col-md-3">


        </div>


      <script>
	// JavaScript function returns true if user clicks yes, otherwise, false
	function confirmDel() {
		return confirm('Are you sure?');
	}
</script>

	
}
