@import models.products.Category
@import models.products.Product
@import models.users.User
@(env: play.api.Environment, categories: List[Category], products: List[Product], catId: Long, filter: String, user: User)


<!-- Pass page title and user on to main -->
@productAdmin.main("Products Page", user) {

    <style>
		form {
			margin-bottom: 1em;
		}
	</style>

<div class="row">

  <div class="col-md-3">
      <div class="list-group">
				<!-- Start of For loop - For each c in categories add a link -->
				<a href="@routes.AdminProductCtrl.listProducts(0)" class="list-group-item">All categories</a>
				@for(c <- categories) {
          <a href="@routes.AdminProductCtrl.listProducts(c.getId)" class="list-group-item">@c.getName <span class="badge">@c.getProducts.size()</span> </a>
				}
      </div>
  </div>

	<div class="col-md-9">
		@if(flash.containsKey("success")) {
			  <div class="alert alert-success">
			      @flash.get("success")
			  </div>
		} 

        <!-- Search Form -->
			<div id="actions">
			 <form action="@routes.AdminProductCtrl.listProducts(catId)" method="GET">
				<input type="search" id="searchbox" name="filter" value="@filter" placeholder="Filter by product name...">
				<input type="submit" id="searchsubmit" value="Filter by name" class="btn-md btn-primary">
			 </form>
			</div>


		 <div class="row">

			@for(p <- products) {

		    <div class="col-sm-4 col-lg-4 col-md-4">
			<div class="thumbnail">

				@if(env.resource("public/images/productImages/" + p.getId + ".jpg").isDefined) {
					<img src="/assets/images/productImages/@(p.getId).jpg"/>
				} else {
					<img src="/assets/images/productImages/noImage.jpg"/>
				}
			<div class="caption">
				<h3 class="pull-right">&euro; @("%.2f".format(p.getPrice))</h3>
				<h3><a href="@routes.AdminProductCtrl.product(p.getId)">@p.getName</a>
				</h3>
				<a href="@routes.HomeController.viewReview(p.getId)"
				<p class="pull-right">
                                  @p.getReviews.size() Review(s)</p>
                </a>
       
       @if(p.getNumStars() == 5) {

                                  <p>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    
                                </p>
                } 
	@if(p.getNumStars() == 4.5) {

                                  <p>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <i class="fa fa-star-half-o" style="color: #e67e22;" aria-hidden="true"></i>
                                    
                                </p>
                }
                
                @if(p.getNumStars() == 4){
                                 <p>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                </p>
                    }
		@if(p.getNumStars() == 3.5){
                                 <p>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                   <i class="fa fa-star-half-o" style="color: #e67e22;" aria-hidden="true"></i>
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                </p>
                    }
                @if(p.getNumStars() == 3){
                                 <p>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                </p>
                    }
		 @if(p.getNumStars() == 2.5){
                                 <p>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                  <i class="fa fa-star-half-o" style="color: #e67e22;" aria-hidden="true"></i>
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                </p>
                    }
                @if(p.getNumStars() == 2){
                                 <p>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                </p>
                    }
                 @if(p.getNumStars() == 1.5){
                                 <p>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <i class="fa fa-star-half-o" style="color: #e67e22;" aria-hidden="true"></i>
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                </p>
                    }
                @if(p.getNumStars() == 1){
                                 <p>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                </p>
                    }   
		@if(p.getNumStars() == 0.5){
                                 <p>
                                   <i class="fa fa-star-half-o" style="color: #e67e22;" aria-hidden="true"></i>
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                </p>
                    }   
                @if(p.getNumStars() == 0){
                                 <p>
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                </p>
				}
				<p>
 <a href="@routes.StockCtrl.addToBasket(p.getId)"  class="btn btn-default btn-xs"><span class="glyphicon glyphicon-shopping-cart"></span></a>
@if(user != null) {
		<a href="@routes.AdminProductCtrl.updateProduct(p.getId)" class="btn-xs btn-primary"><span class="glyphicon glyphicon-pencil"></span></a>
					<!-- Delete product button -->
<a href="@routes.AdminProductCtrl.deleteProduct(p.getId)" class="btn-xs btn-danger"
						onclick="return confirmDel();">
	<span class="glyphicon glyphicon-trash"></span></a>
					}

</p>
				 
				<p>@p.getDescription</p>
			        <p>Stock: @p.getStock</p>
				<p>Amount Sold: @p.getAmountSold</p>

			</div>

			</div>
            </div>

	}

		</div>
		@if(user != null) {
		<div>
			<a href="@routes.AdminProductCtrl.addProduct()">
				<button class="btn btn-primary">Add a Product</button>
			</a>
		</div>
		}
	</div>
</div>

<script>
	// JavaScript function returns true if user clicks yes, otherwise, false
	function confirmDel() {
		return confirm('Are you sure?');
	}
</script>
}

