@import models.products.Category
@import models.products.Product
@import models.users._
@(env: play.api.Environment, bestSellersTop3: List[Product], lowSellersTop3: List[Product], bestRatingsTop3: List[Product], lowRatingsTop3: List[Product], ordersTop3: List[Customer],  pointsTop3: List[Customer], likesTop3: List[ForumMessage], dislikesTop3: List[ForumMessage], user: models.users.User)
@productAdmin.main("Reports", user) {

 <!-- HTML content for the error view -->
  <div class="row">
<div class="row">


          
        <div class="col-lg-12">

        @if(flash.containsKey("success")) {
			  <div class="alert alert-success">
			      @flash.get("success")
			  </div>
		} 
                    <div class="panel panel-success">
                        <div class="panel-heading">
                            Report Tabs
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <!-- Nav tabs -->
                            <ul class="nav nav-tabs">
				<li class="active"><a href="#bestsell" data-toggle="tab">Best Sellers</a>
                                </li>
                                <li><a href="#lowsell" data-toggle="tab">Lowest Sellers</a>
                                </li>
				<li><a href="#highrating" data-toggle="tab">Highest Ratings</a>
                                </li>
                                <li><a href="#lowrating" data-toggle="tab">Lowest Ratings</a>
                                </li>
				<li><a href="#orders" data-toggle="tab">Most Orders Made</a>
                                </li>
				<li><a href="#loyal" data-toggle="tab">Highest Loyality Points</a>
                                </li>
                                <li><a href="#likes" data-toggle="tab">Most Liked Posts</a>
                                </li>
				 <li><a href="#dislikes" data-toggle="tab">Most Disliked Posts</a>
                                </li>
				
                            </ul>

                            <!-- Tab panes -->
                            <div class="tab-content">

	 <div class="tab-pane fade in active" id="bestsell">
                                    <h4>Best Sellers Top 3 <a href="@routes.ReportCtrl.printBestSellers()" class="btn-xs btn-success"> Write to file <span class="glyphicon glyphicon-pencil"></span></a></h4> 
                                    @for(mp <- bestSellersTop3) {
           <div class="col-sm-4 col-lg-4 col-md-4">

            

             @if(mp != null) {
			<div class="thumbnail">

				@if(env.resource("public/images/productImages/" + mp.getId + ".jpg").isDefined) {
					<img src="/assets/images/productImages/@(mp.getId).jpg"/>
				} else {
					<img src="/assets/images/productImages/noImage.jpg"/>
				}
			<div class="caption">
				<h3 class="pull-right">&euro; @("%.2f".format(mp.getPrice))</h3>
				<h3><a href="@routes.AdminProductCtrl.product(mp.getId)">@mp.getName</a>
				</h3>
				<a href="@routes.HomeController.viewReview(mp.getId)"
				<p class="pull-right">
                                  @mp.getReviews.size() Review(s)</p>
                </a>
       
       @if(mp.getNumStars() == 5) {

                                  <p>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    
                                </p>
                } 
	@if(mp.getNumStars() == 4.5) {

                                  <p>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <i class="fa fa-star-half-o" style="color: #e67e22;" aria-hidden="true"></i>
                                    
                                </p>
                }
                
                @if(mp.getNumStars() == 4){
                                 <p>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                </p>
                    }
		@if(mp.getNumStars() == 3.5){
                                 <p>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                   <i class="fa fa-star-half-o" style="color: #e67e22;" aria-hidden="true"></i>
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                </p>
                    }
                @if(mp.getNumStars() == 3){
                                 <p>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                </p>
                    }
		 @if(mp.getNumStars() == 2.5){
                                 <p>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                  <i class="fa fa-star-half-o" style="color: #e67e22;" aria-hidden="true"></i>
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                </p>
                    }
                @if(mp.getNumStars() == 2){
                                 <p>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                </p>
                    }
                 @if(mp.getNumStars() == 1.5){
                                 <p>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <i class="fa fa-star-half-o" style="color: #e67e22;" aria-hidden="true"></i>
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                </p>
                    }
                @if(mp.getNumStars() == 1){
                                 <p>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                </p>
                    }   
		@if(mp.getNumStars() == 0.5){
                                 <p>
                                   <i class="fa fa-star-half-o" style="color: #e67e22;" aria-hidden="true"></i>
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                </p>
                    }   
                @if(mp.getNumStars() == 0){
                                 <p>
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                </p>
				}
				<p>
				<p><a href="@routes.ShoppingCtrl.addToBasket(mp.getId)"  class="btn btn-default btn-xs"><span class="glyphicon glyphicon-shopping-cart"></span></a>
@if(user != null) {
		<a href="@routes.AdminProductCtrl.updateProduct(mp.getId)" class="btn-xs btn-primary"><span class="glyphicon glyphicon-pencil"></span></a>
					<!-- Delete product button -->
<a href="@routes.AdminProductCtrl.deleteProduct(mp.getId)" class="btn-xs btn-danger"
						onclick="return confirmDel();">
	<span class="glyphicon glyphicon-trash"></span></a>
					}

</p>
				 
				<p>@mp.getDescription</p>
			        <p>Stock: @mp.getStock</p>
				  <p>Amount Sold: @mp.getAmountSold</p>

			</div>

			</div>
            </div> <!-- end of product-->
           

		   }

        } 

    </div>

                                <div class="tab-pane fade" id="lowsell">
                                    <h4>Lowest Sellers Top 3  <a href="@routes.ReportCtrl.printWorstSellers()" class="btn-xs btn-success"> Write to file <span class="glyphicon glyphicon-pencil"></span></a>
</h4>
                                    @for(mp <- lowSellersTop3) {
           <div class="col-sm-4 col-lg-4 col-md-4">

            

             @if(mp != null) {
			<div class="thumbnail">

				@if(env.resource("public/images/productImages/" + mp.getId + ".jpg").isDefined) {
					<img src="/assets/images/productImages/@(mp.getId).jpg"/>
				} else {
					<img src="/assets/images/productImages/noImage.jpg"/>
				}
			<div class="caption">
				<h3 class="pull-right">&euro; @("%.2f".format(mp.getPrice))</h3>
				<h3><a href="@routes.AdminProductCtrl.product(mp.getId)">@mp.getName</a>
				</h3>
				<a href="@routes.HomeController.viewReview(mp.getId)"
				<p class="pull-right">
                                  @mp.getReviews.size() Review(s)</p>
                </a>
       
       @if(mp.getNumStars() == 5) {

                                  <p>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    
                                </p>
                } 
	@if(mp.getNumStars() == 4.5) {

                                  <p>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <i class="fa fa-star-half-o" style="color: #e67e22;" aria-hidden="true"></i>
                                    
                                </p>
                }
                
                @if(mp.getNumStars() == 4){
                                 <p>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                </p>
                    }
		@if(mp.getNumStars() == 3.5){
                                 <p>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                   <i class="fa fa-star-half-o" style="color: #e67e22;" aria-hidden="true"></i>
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                </p>
                    }
                @if(mp.getNumStars() == 3){
                                 <p>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                </p>
                    }
		 @if(mp.getNumStars() == 2.5){
                                 <p>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                  <i class="fa fa-star-half-o" style="color: #e67e22;" aria-hidden="true"></i>
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                </p>
                    }
                @if(mp.getNumStars() == 2){
                                 <p>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                </p>
                    }
                 @if(mp.getNumStars() == 1.5){
                                 <p>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <i class="fa fa-star-half-o" style="color: #e67e22;" aria-hidden="true"></i>
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                </p>
                    }
                @if(mp.getNumStars() == 1){
                                 <p>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                </p>
                    }   
		@if(mp.getNumStars() == 0.5){
                                 <p>
                                   <i class="fa fa-star-half-o" style="color: #e67e22;" aria-hidden="true"></i>
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                </p>
                    }   
                @if(mp.getNumStars() == 0){
                                 <p>
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                </p>
				}
				<p>
				<p><a href="@routes.ShoppingCtrl.addToBasket(mp.getId)"  class="btn btn-default btn-xs"><span class="glyphicon glyphicon-shopping-cart"></span></a>
@if(user != null) {
		<a href="@routes.AdminProductCtrl.updateProduct(mp.getId)" class="btn-xs btn-primary"><span class="glyphicon glyphicon-pencil"></span></a>
					<!-- Delete product button -->
<a href="@routes.AdminProductCtrl.deleteProduct(mp.getId)" class="btn-xs btn-danger"
						onclick="return confirmDel();">
	<span class="glyphicon glyphicon-trash"></span></a>
					}

</p>
				 
				<p>@mp.getDescription</p>
			        <p>Stock: @mp.getStock</p>
				  <p>Amount Sold: @mp.getAmountSold</p>
			</div>

			</div>
            </div> <!-- end of product-->
           

		   }

        } 
 
                                </div>

  
 <div class="tab-pane fade" id="highrating">
                                    <h4>Highest Rating Top 3 <a href="@routes.ReportCtrl.printHighestRated()" class="btn-xs btn-success"> Write to file <span class="glyphicon glyphicon-pencil"></span></a>
</h4>
                                    @for(mp <- bestRatingsTop3) {
           <div class="col-sm-4 col-lg-4 col-md-4">

            

             @if(mp != null) {
			<div class="thumbnail">

				@if(env.resource("public/images/productImages/" + mp.getId + ".jpg").isDefined) {
					<img src="/assets/images/productImages/@(mp.getId).jpg"/>
				} else {
					<img src="/assets/images/productImages/noImage.jpg"/>
				}
			<div class="caption">
				<h3 class="pull-right">&euro; @("%.2f".format(mp.getPrice))</h3>
				<h3><a href="@routes.AdminProductCtrl.product(mp.getId)">@mp.getName</a>
				</h3>
				<a href="@routes.HomeController.viewReview(mp.getId)"
				<p class="pull-right">
                                  @mp.getReviews.size() Review(s)</p>
                </a>
       
       @if(mp.getNumStars() == 5) {

                                  <p>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    
                                </p>
                } 
	@if(mp.getNumStars() == 4.5) {

                                  <p>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <i class="fa fa-star-half-o" style="color: #e67e22;" aria-hidden="true"></i>
                                    
                                </p>
                }
                
                @if(mp.getNumStars() == 4){
                                 <p>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                </p>
                    }
		@if(mp.getNumStars() == 3.5){
                                 <p>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                   <i class="fa fa-star-half-o" style="color: #e67e22;" aria-hidden="true"></i>
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                </p>
                    }
                @if(mp.getNumStars() == 3){
                                 <p>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                </p>
                    }
		 @if(mp.getNumStars() == 2.5){
                                 <p>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                  <i class="fa fa-star-half-o" style="color: #e67e22;" aria-hidden="true"></i>
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                </p>
                    }
                @if(mp.getNumStars() == 2){
                                 <p>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                </p>
                    }
                 @if(mp.getNumStars() == 1.5){
                                 <p>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <i class="fa fa-star-half-o" style="color: #e67e22;" aria-hidden="true"></i>
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                </p>
                    }
                @if(mp.getNumStars() == 1){
                                 <p>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                </p>
                    }   
		@if(mp.getNumStars() == 0.5){
                                 <p>
                                   <i class="fa fa-star-half-o" style="color: #e67e22;" aria-hidden="true"></i>
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                </p>
                    }   
                @if(mp.getNumStars() == 0){
                                 <p>
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                </p>
				}
				<p>
				<p><a href="@routes.ShoppingCtrl.addToBasket(mp.getId)"  class="btn btn-default btn-xs"><span class="glyphicon glyphicon-shopping-cart"></span></a>
@if(user != null) {
		<a href="@routes.AdminProductCtrl.updateProduct(mp.getId)" class="btn-xs btn-primary"><span class="glyphicon glyphicon-pencil"></span></a>
					<!-- Delete product button -->
<a href="@routes.AdminProductCtrl.deleteProduct(mp.getId)" class="btn-xs btn-danger"
						onclick="return confirmDel();">
	<span class="glyphicon glyphicon-trash"></span></a>
					}

</p>
				 
				<p>@mp.getDescription</p>
			        <p>Stock: @mp.getStock</p>
				  <p>Amount Sold: @mp.getAmountSold</p>

			</div>

			</div>
            </div> <!-- end of product-->
           

		   }

        } 
  
                                </div>

                                <div class="tab-pane fade" id="lowrating">
                                    <h4>Lowest Ratings Top 3 <a href="@routes.ReportCtrl.printLowestRated()" class="btn-xs btn-success"> Write to file <span class="glyphicon glyphicon-pencil"></span></a></h4>
                                    @for(mp <- lowRatingsTop3) {
           <div class="col-sm-4 col-lg-4 col-md-4">

            

             @if(mp != null) {
			<div class="thumbnail">

				@if(env.resource("public/images/productImages/" + mp.getId + ".jpg").isDefined) {
					<img src="/assets/images/productImages/@(mp.getId).jpg"/>
				} else {
					<img src="/assets/images/productImages/noImage.jpg"/>
				}
			<div class="caption">
				<h3 class="pull-right">&euro; @("%.2f".format(mp.getPrice))</h3>
				<h3><a href="@routes.AdminProductCtrl.product(mp.getId)">@mp.getName</a>
				</h3>
				<a href="@routes.HomeController.viewReview(mp.getId)"
				<p class="pull-right">
                                  @mp.getReviews.size() Review(s)</p>
                </a>
       
       @if(mp.getNumStars() == 5) {

                                  <p>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    
                                </p>
                } 
	@if(mp.getNumStars() == 4.5) {

                                  <p>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <i class="fa fa-star-half-o" style="color: #e67e22;" aria-hidden="true"></i>
                                    
                                </p>
                }
                
                @if(mp.getNumStars() == 4){
                                 <p>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                </p>
                    }
		@if(mp.getNumStars() == 3.5){
                                 <p>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                   <i class="fa fa-star-half-o" style="color: #e67e22;" aria-hidden="true"></i>
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                </p>
                    }
                @if(mp.getNumStars() == 3){
                                 <p>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                </p>
                    }
		 @if(mp.getNumStars() == 2.5){
                                 <p>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                  <i class="fa fa-star-half-o" style="color: #e67e22;" aria-hidden="true"></i>
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                </p>
                    }
                @if(mp.getNumStars() == 2){
                                 <p>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                </p>
                    }
                 @if(mp.getNumStars() == 1.5){
                                 <p>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <i class="fa fa-star-half-o" style="color: #e67e22;" aria-hidden="true"></i>
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                </p>
                    }
                @if(mp.getNumStars() == 1){
                                 <p>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                </p>
                    }   
		@if(mp.getNumStars() == 0.5){
                                 <p>
                                   <i class="fa fa-star-half-o" style="color: #e67e22;" aria-hidden="true"></i>
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                </p>
                    }   
                @if(mp.getNumStars() == 0){
                                 <p>
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                </p>
				}
				<p>
				<p><a href="@routes.ShoppingCtrl.addToBasket(mp.getId)"  class="btn btn-default btn-xs"><span class="glyphicon glyphicon-shopping-cart"></span></a>
@if(user != null) {
		<a href="@routes.AdminProductCtrl.updateProduct(mp.getId)" class="btn-xs btn-primary"><span class="glyphicon glyphicon-pencil"></span></a>
					<!-- Delete product button -->
<a href="@routes.AdminProductCtrl.deleteProduct(mp.getId)" class="btn-xs btn-danger"
						onclick="return confirmDel();">
	<span class="glyphicon glyphicon-trash"></span></a>
					}

</p>
				 
				<p>@mp.getDescription</p>
			        <p>Stock: @mp.getStock</p>
				  <p>Amount Sold: @mp.getAmountSold</p>
			</div>

			</div>
            </div> <!-- end of product-->
           

		   }

        } 

         

                                </div>


				 <div class="tab-pane fade" id="orders">
                                    <h4>Most Orders By Customers   <a href="@routes.ReportCtrl.printMostOrders()" class="btn-xs btn-success"> Write to file <span class="glyphicon glyphicon-pencil"></span></a></h4>
                                    @for(customer <- ordersTop3) {
           <div class="col-sm-4 col-lg-4 col-md-4">


			
    				@if(env.resource("public/images/userIcons/" + customer.getEmail + ".png").isDefined) {
					<img src="/assets/images/userIcons/@(customer.getEmail).png" height="200" width="200"/>
				} else {
					<img src="/assets/images/userIcons/noImage.png" height="200" width="200"/>
				}


 @if(customer != null) {          
  <table class="table table-striped">
    <thead>
      <tr>
        <th><strong>@customer.getName</strong></th>
       
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Email</td>
        <td>@customer.getEmail</td>
      </tr>
      <tr>
        <td>Street1</td>
        <td>@customer.getStreet1</td>
      </tr>
      <tr>
        <td>Street2</td>
        <td>@customer.getStreet2</td>
      </tr>
      <tr>
        <td>Town</td>
        <td>@customer.getTown</td>
      </tr>
      
      <tr>
        <td>PostCode</td>
        <td>@customer.getPostCode</td>
      </tr>
       <tr>
        <td>Country</td>
        <td>@customer.getCountry</td>
      </tr>
       <tr>
        <td>Orders Made</td>
        <td>@customer.getNumOfOrders</td>
      </tr>
      <tr>
        <td>Loyalty Points</td>
        <td>@customer.getLoyaltyPointsEarned</td>
      </tr>
    </tbody>
  </table>
}



                            </div>

                          }
      

                                </div>

				
				 <div class="tab-pane fade" id="loyal">
                                    <h4>Highest Loyality Points <a href="@routes.ReportCtrl.printMostLoyaltyPoints()" class="btn-xs btn-success"> Write to file <span class="glyphicon glyphicon-pencil"></span></a></h4>
                                      @for(customer <- pointsTop3) {
           <div class="col-sm-4 col-lg-4 col-md-4">


			
    				@if(env.resource("public/images/userIcons/" + customer.getEmail + ".png").isDefined) {
					<img src="/assets/images/userIcons/@(customer.getEmail).png" height="200" width="200"/>
				} else {
					<img src="/assets/images/userIcons/noImage.png" height="200" width="200"/>
				}


 @if(customer != null) {          
  <table class="table table-striped">
    <thead>
      <tr>
        <th><strong>@customer.getName</strong></th>
       
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Email</td>
        <td>@customer.getEmail</td>
      </tr>
      <tr>
        <td>Street1</td>
        <td>@customer.getStreet1</td>
      </tr>
      <tr>
        <td>Street2</td>
        <td>@customer.getStreet2</td>
      </tr>
      <tr>
        <td>Town</td>
        <td>@customer.getTown</td>
      </tr>
      
      <tr>
        <td>PostCode</td>
        <td>@customer.getPostCode</td>
      </tr>
       <tr>
        <td>Country</td>
        <td>@customer.getCountry</td>
      </tr>
       <tr>
        <td>Orders Made</td>
        <td>@customer.getNumOfOrders</td>
      </tr>
      <tr>
        <td>Loyalty Points</td>
        <td>@customer.getLoyaltyPointsEarned</td>
      </tr>
    </tbody>
  </table>
}



                            </div>

                          }



                                </div>				


                                <div class="tab-pane fade" id="likes">
                                    <h4>Most Liked Posts <a href="@routes.ReportCtrl.printLikedPosts()" class="btn-xs btn-success"> Write to file <span class="glyphicon glyphicon-pencil"></span></a></h4>
                                    @for(m <- likesTop3) {
                                   <div class="col-sm-4 col-lg-4 col-md-4">
                                 
<!-- Left-aligned media object -->
  <div class="media">
    <div class="media-left">
	@if(env.resource("public/images/userIcons/" + m.getUser.getEmail + ".png").isDefined) {
      <img src="/assets/images/userIcons/@(m.getUser.getEmail).png" class="media-object" style="width:60px">
}      else {
	<img src="/assets/images/userIcons/noImage.png" style="width:60px"/>
				}
      
      <p>@m.getUser.getRole</p>
    </div>
    <div class="media-body">
      <h4 class="media-heading">@m.getUser.getName</h4>
	<h5>Subject: @m.getSubject</h5>
      <p>@m.getMessageContent</p>
      <p>@m.getMessageDate</p>
    </div>
 <p><a href="@routes.HomeController.like(m.getId())"><span class="glyphicon glyphicon-thumbs-up"></span></a> @m.getLikes() Likes
      <a href="@routes.HomeController.dislike(m.getId())"><span class="glyphicon glyphicon-thumbs-down"></span></a> @m.getDislikes() Dislikes
      </p>
  </div>

                                
                                 </div>
					}
           

				 </div>

				 <div class="tab-pane fade" id="dislikes">
                                    <h4>Most Disliked Posts  <a href="@routes.ReportCtrl.printDislikedPosts()" class="btn-xs btn-success"> Write to file <span class="glyphicon glyphicon-pencil"></span></a></h4>
                                   @for(m <- dislikesTop3) {
                                   <div class="col-sm-4 col-lg-4 col-md-4">
                                 
<!-- Left-aligned media object -->
  <div class="media">
    <div class="media-left">
	@if(env.resource("public/images/userIcons/" + m.getUser.getEmail + ".png").isDefined) {
      <img src="/assets/images/userIcons/@(m.getUser.getEmail).png" class="media-object" style="width:60px">
}      else {
	<img src="/assets/images/userIcons/noImage.png" style="width:60px"/>
				}
      
      <p>@m.getUser.getRole</p>
    </div>
    <div class="media-body">
      <h4 class="media-heading">@m.getUser.getName</h4>
	<h5>Subject: @m.getSubject</h5>
      <p>@m.getMessageContent</p>
      <p>@m.getMessageDate</p>
    </div>
 <p><a href="@routes.HomeController.like(m.getId())"><span class="glyphicon glyphicon-thumbs-up"></span></a> @m.getLikes() Likes
      <a href="@routes.HomeController.dislike(m.getId())"><span class="glyphicon glyphicon-thumbs-down"></span></a> @m.getDislikes() Dislikes
      </p>
  </div>
  
  
                                
                                 </div>
					}

    
                                </div>

                            </div>


                        </div>
                        <!-- /.panel-body -->

                
                    </div>
                    <!-- /.panel -->
                </div>
    

    
  </div>
  <!-- End of content for main -->
}
