@(updateAdministratorForm: Form[models.users.Administrator], user: models.users.User)
<!-- editAdministratorForm parameters defined above
 passed to this view by the controller -->
@import models.products._
@import models.users._

<!-- a 'helper' will be used to create the form dynamically, 
though a static HTML form would also work -->
@import helper._

<!-- The page will be based on the main template -->
@main("Update Administrator", user) {

<div class="row">

       <div class="col-md-3">
     @if(flash.containsKey("success")) {
			  <div class="alert alert-success">
			      @flash.get("success")
			  </div>

                
		} 
               @if(flash.containsKey("warning")) {
			  <div class="alert alert-warning">
			      @flash.get("warning")
			  </div>

                
		} 


    </div>

	<div class="col-md-6">

         <div class="panel panel-success">
	<div class="panel-heading">
	<h4>Update Administrator <span class="glyphicon glyphicon-user"></span></h4></div>
	<div class="panel-body">
	<!-- Use the views.html.helpers package to create the form -->
	@form(action = routes.AdminHomeCtrl.updateAdministratorSubmit(), 'class -> "form-horizontal", 'role->"form", 'enctype -> "multipart/form-data") {
		
		<!-- Build the form, adding an input for each field -->
		<!-- Note the label parameter -->
		@inputText(updateAdministratorForm("email"), '_label -> "Email",'class -> "form-control")
		@select(
                updateAdministratorForm("title"), 
                options(User.titleOptions), 
                '_label -> "Title", '_default -> "-- Choose a Title--",
                '_showConstraints -> false
            )
                @inputText(updateAdministratorForm("name"), '_label -> "First Name",'class -> "form-control")
		 @inputText(updateAdministratorForm("surname"), '_label -> "Last Name",'class -> "form-control")
		@inputText(updateAdministratorForm("password"), '_label -> "Password",'class -> "form-control")
                
		<!-- Image upload input -->
		<label>Image</label>
    <input class="btn-sm btn-default" type="file" name="upload">
		
		<br><br>

	<!-- Add a submit button -->
  <div class="actions">
      <input type="submit" value="Save" class="btn btn-primary">
			<a href="@routes.AdminHomeCtrl.accountDetails()"
				<button class="btn btn-warning" role="button">Cancel</button>
			</a>
  </div>
	} <!-- End Form definition -->


</div>
    </div>

</div>

  <div class="col-md-3">

    </div>


</div>


} <!-- End of page content -->


