   body{
  background-color: #FFFFFF;
	padding: 0;
	margin:  0; 
	overflow-x:hidden;

   }

   
   #container{
     background-color:#F6F6F6;
     width: 100%;
     margin-left: auto;
     margin-right: auto;
    padding: 0;
   }

.container{
 
  
}

#myCarousel img{
  width: 100%;
  

}

 #myCarousel{
margin-top: -20px;
 }

#myCarousel2 img{
  width: 100%;
  

}




.image-bg-fluid-height,
.image-bg-fixed-height {
    text-align: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    margin-top: -20px;
    
}

.image-bg-fluid-height {
	background: url('../images/pageImages/aboutUs5.1.jpg') no-repeat center center scroll;
    padding: 100px 0;
    
}

.image-bg-fixed-height {
	background: url('../images/pageImages/aboutUs8.jpg') no-repeat center center scroll;
    height: 450px;
}

.img-center {
	margin: 0 auto;
}

section {
    padding: 75px 0;
}

.section-heading {
    margin: 30px 0;
    font-size: 4em;
}

.section-lead {
    margin: 30px 0;
}

.section-paragraph {
    margin: 30px 0;
}


@media(max-width:768px) {
    section {
        padding-top: 25px;
        padding-bottom: 25px;
    }

    .section-heading {
        font-size: 2em;
    }
}

.glyphicon-star {
  color: #e67e22;
  }
.glyphicon-star-empty {
  color: #e67e22;
  }

.fa fa-star-half{
  color: #e67e22;

}

}
/* https://coolors.co/734543-a48685-9d0804-b7b7b7-d39809 */
