@import play.api.Play.resource
@import play.api.Play.current
@import models.shopping._
@import models.products._
@(env: play.api.Environment, customer: models.users.Customer)

<!-- Pass page title and user on to main -->
@main("Account Details", customer) {


<div class="row">


	<div class="col-md-9">
		@if(flash.containsKey("success")) {
			  <div class="alert alert-success">
			      @flash.get("success")
			  </div>
		} 

<div class="panel panel-success">
	<div class="panel-heading">
          <h4>Account Details <span class="glyphicon glyphicon-th-list"></span></h4> </div>
          <div class="panel-body">
    				@if(env.resource("public/images/userIcons/" + customer.getEmail + ".png").isDefined) {
					<img src="/assets/images/userIcons/@(customer.getEmail).png" height="200" width="200"/>
				} else {
					<img src="/assets/images/userIcons/noImage.png" height="200" width="200"/>
				}


 @if(customer != null) {          
  <table class="table table-striped">
    <thead>
      <tr>
        <th><strong>@customer.getTitle @customer.getName @customer.getSurname</strong></th>
       
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Email</td>
        <td>@customer.getEmail</td>
      </tr>
       <tr>
        <td>Phone Number</td>
        <td>@customer.getNumber</td>
      </tr>
      <tr>
        <td>Street1</td>
        <td>@customer.getStreet1</td>
      </tr>
      <tr>
        <td>Street2</td>
        <td>@customer.getStreet2</td>
      </tr>
      <tr>
        <td>Town</td>
        <td>@customer.getTown</td>
      </tr>
      <tr>
        <td>County</td>
        <td>@customer.getCounty</td>
      </tr>
      <tr>
        <td>PostCode</td>
        <td>@customer.getPostCode</td>
      </tr>
      <tr>
        <td>Country</td>
        <td>@customer.getCountry</td>
      </tr>
      <tr>
      <td>Loyalty Points</td>
        <td>@customer.getLoyaltyPointsEarned</td>
      </tr>

    </tbody>
  </table>
}

<a href="@routes.HomeController.updateCustomer()">
				<button class="btn btn-primary">Edit Details</button>
			</a>
                        <a href="@routes.HomeController.deleteCustomer()">
				<button class="btn btn-danger" onclick="return confirmDel();"><span class="glyphicon glyphicon-trash"></span> Delete Account</button>
			</a>
		</div>

</div>

<div class="col-md-3">

</div>


</div>

<script>
	// JavaScript function returns true if user clicks yes, otherwise, false
	function confirmDel() {
		return confirm('Are you sure?');
	}
</script>


}
