@(addPaymentCardForm: Form[models.shopping.PaymentCard], user: models.users.User)
<!-- addPaymentCardForm defined above is the parameter
 passed to this view by the controller -->
@import models.shopping._

<!-- a 'helper' will be used to create the form dynamically, 
though a static HTML form would also work -->
@import helper._

<!-- The page will be based on the main template -->
@main("New PaymentCard", user) {

<div class="row">

       <div class="col-md-3">
     @if(flash.containsKey("success")) {
			  <div class="alert alert-success">
			      @flash.get("success")
			  </div>

                
		} 
               @if(flash.containsKey("warning")) {
			  <div class="alert alert-warning">
			      @flash.get("warning")
			  </div>

                
		} 


    </div>

	<div class="col-md-6">

         <div class="panel panel-success">
	 <div class="panel-heading"><h4>Add a new Payment Card <i class="fa fa-credit-card" aria-hidden="true"></i></h4></div>
	<div class="panel-body">
	<!-- Use the views.html.helpers package to create the form -->
	@form(action = routes.HomeController.addPaymentCardSubmit(), 'class -> "form-horizontal", 'role->"form", 'enctype -> "multipart/form-data") {
		
		<!-- Build the form, adding an input for each field -->
		<!-- Note the label parameter -->

                 @select(
                addPaymentCardForm("type"), 
                options(PaymentCard.cardOptions), 
                '_label -> "Card Type", '_default -> "-- Choose a Card Type--",
                '_showConstraints -> false
            )
		@inputText(addPaymentCardForm("cardNumber"), '_label -> "Card Number",'class -> "form-control")
		  @select(
                addPaymentCardForm("expirationMonth"), 
                options(PaymentCard.monthOptions), 
                '_label -> "Expiration Month", '_default -> "-- Choose a Month--",
                '_showConstraints -> false
            )
		 @select(
                addPaymentCardForm("expirationYear"), 
                options(PaymentCard.yearOptions), 
                '_label -> "Expiration Year", '_default -> "-- Choose a Year--",
                '_showConstraints -> false
            )
            
		@inputText(addPaymentCardForm("securityCode"), '_label -> "Security Code (3 Digit Number)",'class -> "form-control", '_showConstraints -> false)

		<br><br>

	<!-- Add a submit button -->
  <div class="actions">
      <input type="submit" value="Add PaymentCard" class="btn btn-primary">
			<a href="@routes.AdminProductCtrl.listProducts(0)"
				<button class="btn btn-warning">Cancel</button>
			</a>
  </div>
	} <!-- End Form definition -->

</div>
    </div>

</div>

  <div class="col-md-3">

    </div>


</div>


} <!-- End of page content -->


