@import play.api.Play.resource
@import play.api.Play.current
@import models.shopping._
@import models.products._
@(env: play.api.Environment, currentOrders: List[ShopOrder], previousOrders: List[ShopOrder], customer: models.users.Customer)

<!-- Pass page title and user on to main -->
@main("Order History", customer) {


<div class="row">

	<div class="col-md-12">
		@if(flash.containsKey("success")) {
			  <div class="alert alert-success">
			      @flash.get("success")
			  </div>
		} 


        <div class="panel panel-success">
	<div class="panel-heading">
        <h4>Current Orders <i class="fa fa-circle-o-notch fa-spin fa-lg fa-fw"></i>
<span class="sr-only">Loading...</span></h4></div>
       <div class="panel-body">
        @for(o <- currentOrders) {



		<table class="table table-bordered table-hover table-condensed">
			<thead>
			<!-- The header row-->
			<tr class="active">
				<th> </th>
				<th>Name</th>
				<th>Description</th>
				<th>Item Price</th>
				<th>Quantity</th>
                <th>Total</th>
			</tr>
			</thead>
			<tbody>
                @if(currentOrders != null) {

                    <!-- Start of For loop - For each p in products add a row -->
                    @for(i <- o.getItems) {
                    <tr>
			<td>
			@if(env.resource("public/images/productImages/" + i.getProduct.getId + ".jpg").isDefined) {
					<img src="/assets/images/productImages/@(i.getProduct.getId).jpg" style="width: 3em;" />
				} else {
					<img src="/assets/images/productImages/noImage.jpg" style="width: 3em;"/>
				}
			</td>
                        <td>@i.getProduct.getName</td>
                        <td>@i.getProduct.getDescription</td>
                        <td>&euro; @("%.2f".format(i.getPrice))</td>
                        <td>@i.getQuantity()</td>
                        <td>&euro; @("%.2f".format(i.getItemTotal))</td>
                    </tr>
                    }<!-- End of For loop -->
              }
			</tbody>
		</table>
        <div class="row">

             <div class="col-md-6">
              <p><strong>Customer Details</strong></p>
        	<p><strong>Name: @o.getCustomer.getName @o.getCustomer.getSurname</strong></p>
		<p><strong>Email: @o.getCustomer.getEmail</strong></p>
		<p><strong>Phone Num: @o.getCustomer.getNumber</strong></p>
		<p><strong>Address: @o.getCustomer.getStreet1, @if(o.getCustomer.getStreet2 != "") {@o.getCustomer.getStreet2,} @o.getCustomer.getTown, @if(o.getCustomer.getCounty != "") {@o.getCustomer.getCounty,} @o.getCustomer.getPostCode, @o.getCustomer.getCountry  </strong></p>
		<p><strong>Card Number: ************@o.getCard.getShortCardNumber</strong></p>
            </div> 
            <div class="col-md-6">
                <p class="text-right"><strong>Order Total: &euro; @("%.2f".format(o.getOrderTotal))</strong></p>
                <p class="text-right"><strong>Order Date: @o.getOrderDate</strong></p>
                <p class="text-right"><strong>Order Status: @o.getOrderStatus</strong></p>
                 <p class="text-right"><strong>Loyalty Points: @o.getLoyaltyPointsEarned</strong></p>
                <p class="text-right"><a href="@routes.ShoppingCtrl.cancelOrder(o.getId(),o.getLoyaltyPointsEarned())">
				<button class="btn btn-primary" onclick="return confirmDel();"><span class="glyphicon glyphicon-remove"></span> Cancel Order</button>
			</a></p>
            </div>  

        
        </div>

<hr>

        }

</div>
</div>

 <div class="panel panel-success">
	<div class="panel-heading">
         <h4>Previous Orders <span class="glyphicon glyphicon-th-list"></span></h4></div>

	  <div class="panel-body">
         @for(o <- previousOrders) {

        

		<table class="table table-bordered table-hover table-condensed">
			<thead>
			<!-- The header row-->
			<tr class="active">
				<th> </th>
				<th>Name</th>
				<th>Description</th>
				<th>Item Price</th>
				<th>Quantity</th>
                <th>Total</th>
			</tr>
			</thead>
			<tbody>
                @if(previousOrders != null) {

                    <!-- Start of For loop - For each p in products add a row -->
                    @for(i <- o.getItems) {
                    <tr>
			<td>
			@if(env.resource("public/images/productImages/thumbnails/" + i.getProduct.getId + ".jpg").isDefined) {
					<img src="/assets/images/productImages/thumbnails/@(i.getProduct.getId).jpg" style="width: 3em;" />
				} else {
					<img src="/assets/images/productImages/thumbnails/noImage.png" style="width: 3em;"/>
				}
			</td>
                        <td>@i.getProduct.getName</td>
                        <td>@i.getProduct.getDescription</td>
                        <td>&euro; @("%.2f".format(i.getPrice))</td>
                        <td>@i.getQuantity()</td>
                        <td>&euro; @("%.2f".format(i.getItemTotal))</td>
                    </tr>
                    }<!-- End of For loop -->
              }
			</tbody>
		</table>
        <div class="row">
          <div class="col-md-6">
              <p><strong>Customer Details</strong></p>
        	<p><strong>Name: @o.getCustomer.getName @o.getCustomer.getSurname</strong></p>
		<p><strong>Email: @o.getCustomer.getEmail</strong></p>
		<p><strong>Phone Num: @o.getCustomer.getNumber</strong></p>
		<p><strong>Address: @o.getCustomer.getStreet1, @if(o.getCustomer.getStreet2 != "") {@o.getCustomer.getStreet2,} @o.getCustomer.getTown, @if(o.getCustomer.getCounty != "") {@o.getCustomer.getCounty,} @o.getCustomer.getPostCode, @o.getCustomer.getCountry  </strong></p>
		<p><strong>Card Number: ************@o.getCard.getShortCardNumber</strong></p>
            </div> 
            <div class="col-md-6">
                <p class="text-right"><strong>Order Total: &euro; @("%.2f".format(o.getOrderTotal))</strong></p>
                <p class="text-right"><strong>Order Date: @o.getOrderDate</strong></p>
                <p class="text-right"><strong>Order Status: @o.getOrderStatus</strong></p>
            </div>  

        
        </div>

<hr>
        }

      </div>

     

        </div>
</div>


<script>
	// JavaScript function returns true if user clicks yes, otherwise, false
	function confirmDel() {
		return confirm('Are you sure?');
	}
</script>
}
