@(env: play.api.Environment, customer: models.users.Customer, order: models.shopping.ShopOrder)

@import play.api.Play.resource
@import play.api.Play.current
@import models.shopping._
@import models.products._

<!-- Pass page title and user on to main -->
@main("Order Confirmation", customer) {


<div class="row">

	<div class="col-md-12">
		@if(flash.containsKey("success")) {
			  <div class="alert alert-success">
			      @flash.get("success")
			  </div>
		} 

		<table class="table table-bordered table-hover table-condensed">
			<thead>
			<!-- The header row-->
			<tr class="active">
				<th> </th>
				<th>Name</th>
				<th>Description</th>
				<th>Item Price</th>
				<th>Quantity</th>
                                <th>Size</th>
                <th>Total</th>
			</tr>
			</thead>
			<tbody>
                @if(order != null) {
                    <!-- Start of For loop - For each p in products add a row -->
                    @for(i <- order.getItems) {
                    <tr>
			<td>
			@if(env.resource("public/images/productImages/" + i.getProduct.getId + ".jpg").isDefined) {
					<img src="/assets/images/productImages/@(i.getProduct.getId).jpg" style="width: 3em;" />
				} else {
					<img src="/assets/images/productImages/noImage.jpg" style="width: 3em;"/>
				}
			</td>
                        <td>@i.getProduct.getName</td>
                        <td>@i.getProduct.getDescription</td>
                        <td>&euro; @("%.2f".format(i.getPrice))</td>
                        <td>@i.getQuantity()</td>
		        <td>@i.getSize()</td>
                        <td>&euro; @("%.2f".format(i.getItemTotal))</td>
                    </tr>
                    }<!-- End of For loop -->
              }
			</tbody>
		</table>
        <div class="row">
	    <div class="col-md-6">
              <p><strong>Customer Details</strong></p>
        	<p><strong>Name: @order.getCustomer.getName @order.getCustomer.getSurname</strong></p>
		<p><strong>Email: @order.getCustomer.getEmail</strong></p>
		<p><strong>Phone Num: @order.getCustomer.getNumber</strong></p>
		<p><strong>Address: @order.getCustomer.getStreet1, @if(order.getCustomer.getStreet2 != "") {@order.getCustomer.getStreet2,} @order.getCustomer.getTown, @if(order.getCustomer.getCounty != "") {@order.getCustomer.getCounty,} @order.getCustomer.getPostCode, @order.getCustomer.getCountry</strong></p>
                <p><strong>Card Number: ************@order.getCard.getShortCardNumber</strong></p>
            </div> 
            <div class="col-md-6">
                <p class="text-right"><strong>Order Total: &euro; @("%.2f".format(order.getOrderTotal))</strong></p>
		<p class="text-right"><strong>Order Date: @order.getOrderDate</strong></p>
                <p class="text-right"><strong>Order Status: @order.getOrderStatus</strong></p>
		<p class="text-right"><strong>Loyalty Points: @order.getLoyaltyPointsEarned</strong></p>
            </div>  
        </div>
        </div>
</div>
}
