@import play.api.Play.resource
@import play.api.Play.current
@import models.shopping._
@import models.products._
@import models.users.User
@(env: play.api.Environment, p: Product, reviews: List[Review], user: User)

<!-- Pass page title and user on to main -->
@main("View Product", user) {


<div class="row">

	

            <div class="col-md-4">

                <div class="thumbnail">
	          @if(env.resource("public/images/productImages/" + p.getId + ".jpg").isDefined) {
					<img src="/assets/images/productImages/@(p.getId).jpg"/>
				} else {
					<img src="/assets/images/productImages/noImage.jpg"/>
				}
                    <!--<img class="img-responsive" src="http://placehold.it/800x300" alt=""> -->
                    <div class="caption-full">
                        <h4 class="pull-right">&euro; @("%.2f".format(p.getPrice))</h4>
                        <h4><a href="#">@p.getName()</a>
                        </h4>
                        <p>@p.getDescription()</p>
                        
                       

@if(p.getStock() > 0) {
					<p> Add to cart <a href="@routes.ShoppingCtrl.addToBasket(p.getId)"  class="btn btn-default btn-xs"><span class="glyphicon glyphicon-shopping-cart"></span></a>
				} else {
					<p> Out of stock <a href="@routes.ShoppingCtrl.addToBasket(p.getId)"  class="btn btn-default btn-xs"><span class="glyphicon glyphicon-shopping-cart"></span></a>
				}

                    </div>
                    <div class="ratings">
                        <p class="pull-right">@p.getReviews.size() Review(s)</p>
                         
                        <p>
			@if(p.getNumStars() == 5) {

                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    
                                
                } 
                
                @if(p.getNumStars() == 4){
                                 
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                
                    }
                @if(p.getNumStars() == 3){
                                 
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                
                    }
                @if(p.getNumStars() == 2){
                                
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                    <span class="glyphicon glyphicon-star-empty"></span>
                              
                    }
                @if(p.getNumStars() == 1){
                                 
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                
                    }   
                @if(p.getNumStars() == 0){
                                 
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                    <span class="glyphicon glyphicon-star-empty"></span>
                               
				}
                        Avg Rating: @("%.2f".format(p.getAvgStars()))
                        </p>
                    </div>
                </div>

            </div>

            <div class="col-md-8">

                <div class="well">
                    <h3>Customer Reviews </h3>

                    <div class="text-right">
                        <a href="@routes.HomeController.addReview(p.getId)" class="btn btn-success">Leave a Review</a>
                    </div>

                    <hr>

                    @for(r <- reviews) {
                    <div class="row">
                       <div class="col-md-12">
			@if(env.resource("public/images/userIcons/" + r.getCustomer.getEmail + ".png").isDefined) {
      <img src="/assets/images/userIcons/@(r.getCustomer.getEmail).png" class="media-object" style="width:50px">
}      else {
	<img src="/assets/images/userIcons/noImage.png" style="width:50px"/>
				}
                       </div>
                        <div class="col-md-12">
                         
                           @if(r.getStars() == 5) {

                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    
                                
                } 
                
                @if(r.getStars() == 4){
                                 
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                
                    }
                @if(r.getStars() == 3){
                                 
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                
                    }
                @if(r.getStars() == 2){
                                
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                    <span class="glyphicon glyphicon-star-empty"></span>
                              
                    }
                @if(r.getStars() == 1){
                                 
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                
                    }   
                @if(r.getStars() == 0){
                                 
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                    <span class="glyphicon glyphicon-star-empty"></span>
                               
				}
                            by <strong>@r.getCustomer().getName()</strong>
                            <span class="pull-right">@r.getReviewDate().format("dd MMM yy")</span>
                            <p>@r.getDescription()</p>
                      @if(user != null){
                      @if(user.getEmail().equals(r.getCustomer().getEmail())){
                             <!-- Delete product button -->
<a href="@routes.HomeController.deleteReview(r.getId, p.getId)" class="btn-xs btn-danger"
						onclick="return confirmDel();">
	<span class="glyphicon glyphicon-trash"></span></a>
			}	
			}
                        </div>
                    </div>

                    <hr>
                    }
                    
                </div>

</div>

            </div>

    

 


        <hr>
}
