@import models.products.Category
@import models.products.Product
@import models.users.User
@(env: play.api.Environment, categories: List[Category], currentPage: com.avaje.ebean.PagedList[Product], currentSortBy: String, currentOrder: String, currentFilter: String, catId: Long, user: User)

@****************************************
* Helper generating navigation links    *
****************************************@
@link(newPage:Int, newSortBy:String, catId: Long) = @{
    
    var sortBy = currentSortBy
    var order = currentOrder
    
    if(newSortBy != null) {
        sortBy = newSortBy
        if(currentSortBy == newSortBy) {
            if(currentOrder == "asc") {
                order = "desc"
            } else {
                order = "asc"
            }
        } else {
            order = "asc"
        }
    }

   if (catId != 0){
     routes.ProductCtrl.listCat(newPage, sortBy, order, currentFilter, catId)
} else {
    
    // Generate the link
    routes.ProductCtrl.list(newPage, sortBy, order, currentFilter, catId)
    }
}

@**********************************
* Helper generating table headers *
***********************************@
@header(key:String, title:String) = {
    <th class="@key.replace(".","_") header @if(currentSortBy == key) @{if(currentOrder == "asc") "headerSortDown" else "headerSortUp"}">
        <a href="@link(0, key, catId)">@title</a>
    </th>
}

@main("Products Page", user) {

     <style>
		form {
			margin-bottom: 1em;
		}
                 .sortBy {
			margin-bottom: 1em;
		}
	</style>


     
	<div class="row">

	  <div class="col-md-3">

      

	<div class="list-group">
	<a href="@routes.ProductCtrl.list()" class="list-group-item">All categories</a>

        @for(c <- categories) {
		<a href="@routes.ProductCtrl.listCat(0, currentSortBy, currentOrder, currentFilter, c.getId)" class="list-group-item">@c.getName <span class="badge">@c.getProducts.size()</span> </a>
			}

        @for(c <- categories) {
		<a href="@link(0, "name", c.getId())" class="list-group-item">@c.getName <span class="badge">@c.getProducts.size()</span> </a>
			}


	</div>
	  </div>

       <div class="col-md-9">
			@if(flash.containsKey("success")) {
				  <div class="alert alert-success">
					  @flash.get("success")
				  </div>
			}

               <div id="actions">
        
        <form action="@link(0, "name", catId)" method="GET">
            <input type="search" id="searchbox" name="f" value="@currentFilter" placeholder="Filter by product name...">
            <input type="submit" id="searchsubmit" value="Filter by name" class="btn-md btn-primary">
        </form>
     
    </div>


		@if(currentPage.getTotalRowCount == 0) {
        
        <div class="well">
            <em>Nothing to display</em>
        </div>
        
    } else {
        
        
                  <p>
                  <div class="dropdown sortBy">
    <button class="btn-md btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Sort by
    <span class="caret"></span></button>
    <ul class="dropdown-menu">
      <li>@header("name", "Product name")</li>
      <li>@header("description", "Description")</li>
      <li> @header("price", "Price")</li>
      <li> @header("amountSold", "Best Sellers")</li>
       <li> @header("rating", "Rating")</li>
    </ul>
  </div>

Showing the most relevant results @if(catId != 0){category:  <strong>@Category.find.byId(catId).getName() </strong>,} sorted by:  <strong>@currentSortBy (@currentOrder) </strong> @if(currentFilter != ""){, filter: <strong>"@currentFilter" </strong>} 
                  </p>
              
                @for(p <- currentPage.getList) {

                   <div class="col-sm-4 col-lg-4 col-md-4">
			<div class="thumbnail">

				@if(env.resource("public/images/productImages/" + p.getId + ".jpg").isDefined) {
					<img src="/assets/images/productImages/@(p.getId).jpg"/>
				} else {
					<img src="/assets/images/productImages/noImage.jpg"/>
				}
			<div class="caption">
				<h3 class="pull-right">&euro; @("%.2f".format(p.getPrice))</h3>
				<a href="@routes.ProductCtrl.product(p.getId)"><h3>@p.getName
				</h3></a>
                <a href="@routes.HomeController.viewReview(p.getId)"
				<p class="pull-right">
                                  @p.getReviews.size() Review(s)</p>
                </a>
       
      @if(p.getNumStars() == 5) {

                                  <p>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    
                                </p>
                } 
	@if(p.getNumStars() == 4.5) {

                                  <p>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <i class="fa fa-star-half-o" style="color: #e67e22;" aria-hidden="true"></i>
                                    
                                </p>
                }
                
                @if(p.getNumStars() == 4){
                                 <p>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                </p>
                    }
		@if(p.getNumStars() == 3.5){
                                 <p>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                   <i class="fa fa-star-half-o" style="color: #e67e22;" aria-hidden="true"></i>
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                </p>
                    }
                @if(p.getNumStars() == 3){
                                 <p>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                </p>
                    }
		 @if(p.getNumStars() == 2.5){
                                 <p>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                  <i class="fa fa-star-half-o" style="color: #e67e22;" aria-hidden="true"></i>
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                </p>
                    }
                @if(p.getNumStars() == 2){
                                 <p>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                </p>
                    }
                 @if(p.getNumStars() == 1.5){
                                 <p>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <i class="fa fa-star-half-o" style="color: #e67e22;" aria-hidden="true"></i>
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                </p>
                    }
                @if(p.getNumStars() == 1){
                                 <p>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                </p>
                    }   
		@if(p.getNumStars() == 0.5){
                                 <p>
                                   <i class="fa fa-star-half-o" style="color: #e67e22;" aria-hidden="true"></i>
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                </p>
                    }   
                @if(p.getNumStars() == 0){
                                 <p>
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                </p>
				}
				<p>
                                @if(p.getStock() > 0) {
					<p> Add to cart <a href="@routes.ShoppingCtrl.addToBasket(p.getId)"  class="btn btn-default btn-xs"><span class="glyphicon glyphicon-shopping-cart"></span></a>
				} else {
					<p> Out of stock <a href="@routes.ShoppingCtrl.addToBasket(p.getId)"  class="btn btn-default btn-xs"><span class="glyphicon glyphicon-shopping-cart"></span></a>
				}
				
			    Leave Review <a href="@routes.HomeController.addReview(p.getId)"  class="btn btn-default btn-xs"><span class="glyphicon glyphicon-pencil"></span></a>
				</p>
				 
				<p>@p.getDescription</p>

			</div>

			</div>
            </div>




}

           </div>



        <div id="pagination" class="pagination pull-right">
            <ul class="pagination">
                @if(currentPage.hasPrev) {
                    <li class="prev">
                        <a href="@link(currentPage.getPageIndex - 1, null, catId)">&larr; Previous</a>
                    </li>
                } else {
                    <li class="prev disabled">
                        <a>&larr; Previous</a>
                    </li>
                }
                <li class="current">
                    <a>Displaying @currentPage.getDisplayXtoYofZ(" to "," of ")</a>
                </li>
                @if(currentPage.hasNext) {
                    <li class="next">
                        <a href="@link(currentPage.getPageIndex + 1, null, catId)">Next &rarr;</a>
                    </li>
                } else {
                    <li class="next disabled">
                        <a>Next &rarr;</a>
                    </li>
                }
            </ul>
        </div>
        
    }


</div>
        
}


            
