@(updateCustomerForm: Form[models.users.Customer], user: models.users.User)
<!-- editCustomerForm parameters defined above
 passed to this view by the controller -->
 @import models.products._
@import models.users._

<!-- a 'helper' will be used to create the form dynamically, 
though a static HTML form would also work -->
@import helper._

<!-- The page will be based on the main template -->
@main("Update Customer", user) {
<div class="row">

       <div class="col-md-3">
     @if(flash.containsKey("success")) {
			  <div class="alert alert-success">
			      @flash.get("success")
			  </div>

                
		} 
               @if(flash.containsKey("warning")) {
			  <div class="alert alert-warning">
			      @flash.get("warning")
			  </div>

                
		} 


    </div>

	<div class="col-md-6">

         <div class="panel panel-success">
	<div class="panel-heading"><h4>Update Customer <span class="glyphicon glyphicon-user"></span></h4></div>
	<div class="panel-body">
	<!-- Use the views.html.helpers package to create the form -->
	@form(action = routes.HomeController.updateCustomerSubmit(), 'class -> "form-horizontal", 'role->"form", 'enctype -> "multipart/form-data") {
		
		<!-- Build the form, adding an input for each field -->
		<!-- Note the label parameter -->
		@inputText(updateCustomerForm("email"), '_label -> "Email",'class -> "form-control")
		 @select(
                updateCustomerForm("title"), 
                options(User.titleOptions), 
                '_label -> "Title", '_default -> "-- Choose a Title--",
                '_showConstraints -> false
            )
                @inputText(updateCustomerForm("name"), '_label -> "First Name",'class -> "form-control")
		@inputText(updateCustomerForm("surname"), '_label -> "Last Name",'class -> "form-control")
		@inputText(updateCustomerForm("password"), '_label -> "Password",'class -> "form-control")
		@inputText(updateCustomerForm("number"), '_label -> "Phone Number",'class -> "form-control")
                @inputText(updateCustomerForm("street1"), '_label -> "Street1",'class -> "form-control")
		@inputText(updateCustomerForm("street2"), '_label -> "Street2",'class -> "form-control")
                @inputText(updateCustomerForm("town"), '_label -> "Town",'class -> "form-control")
		@inputText(updateCustomerForm("county"), '_label -> "County",'class -> "form-control")
                @inputText(updateCustomerForm("postCode"), '_label -> "PostCode",'class -> "form-control")
                @inputText(updateCustomerForm("country"), '_label -> "Country",'class -> "form-control")
		
		<!-- Image upload input -->
		<label>Image</label>
    <input class="btn-sm btn-default" type="file" name="upload">
		
		<br><br>

	<!-- Add a submit button -->
  <div class="actions">
      <input type="submit" value="Save" class="btn btn-primary">
			<a href="@routes.HomeController.accountDetails()"
				<button class="btn btn-warning" role="button">Cancel</button>
			</a>
  </div>
	} <!-- End Form definition -->


</div>
    </div>

</div>

  <div class="col-md-3">

    </div>


</div>



} <!-- End of page content -->


